*{
    padding:0;
    margin:0;
    font-family:'Gill Sans MT'
}
body
{
    
    background-color:black;
    background-repeat:no-repeat;
    background-size:cover;
    
    
}
/* .bg{
    background-image:url("/images/FB_IMG_1562429558442.jpg");
    filter:blur(5px);

} */
  a{
      color:white;
      text-decoration: none;
      padding:7px;
      padding-top:50px;
      font-size: 2em;
      

    
  }
  nav{
      background-color: brown;
      width: 99%;
      text-align: right;
      position: sticky;
      float: right;
      color: cyan;
      margin-top: 30px;
      
  }
  h1{
    
     color:white;
     font-family:'Script MJ Bold';
     font-size:3em;
     padding-left: 200px;
     padding-top:70px;
     
  }
  .me{
      font-size: 2em;
      text-align:center;
      padding-left:250px;
      padding-top:130px;
      display:flex;
      clear: both;
  }
#about{  
    color:white;
    padding-top:30px;
    text-align:center;
    font-size:3em;
    flex-flow: row;
    clear:both;
}
.brayo{
    color:black;
    font-size: 25px;
    text-align:center;
}
.hob{
    padding:10px;
    color:black;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#hob{
    padding:10px;
    margin-top: 100px;
}
li{
    padding:5px;
}
.overlay1{
    position:relative; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.459);
    background: rgb(255, 255, 255);
    color: #f1f1f1; 
    width: 100%;
    height:100%;
    text-align:justify;
    /* padding:30px; */
   
}
.info{
    font-size:25px;
    padding:7em;
    color:white;
    float:left;
    margin-top: 200px;
    box-shadow: 7px 10px 5px #a86d6d;
}
.cont{
    display:flex;
    float:left;
    clear: both;
}
.brayo{
    padding:9px;

}
h3{ 
    font-size:40px;
    color:white;
    text-align: center;
    padding:20px;
    margin-top: 100px;
}
#photo{
    /* color:black; */
    display:flex;
    padding-bottom:20px;
    filter:blur(0px);
    flex-direction:row;
}
#field{
    color:whitesmoke;
    font-size:15px;

}

.fa{
    text-align:center;
    font-size:10px;
    text-decoration:none;
    
    position:relative;
    top:70px;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa:hover {
    opacity: 0.8;
}