*{
    padding:0;
    margin:0;
    font-family:'Gill Sans MT'
}

body
{
    background-image:url ("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSEPnqmR-6yiediZW6S_H6f0GvmbFXt9hPVIadrYxSK_N-6eb8")
    background-repeat:no-repeat;
    background-size:cover;
    
    
}

  .nav{
      color:white;
      text-decoration: none;
      top: 5px;
      padding:20px;
      font-size: 2em;
      margin:5px;
      

    
  }

  nav{
      background-color: rgb(134, 25, 25);
      width: 100%;
      text-align: right;
      position:fixed;
      float: right;
      /*margin-top: 30px;*/
      top:0px;
      height:70px;
  }
  h1{
    
     color:white;
     font-family:'Script MJ Bold';
     font-size:3em;
     padding-left: 200px;
     padding-top:60px;
    
     }
  /* .start{
       padding:30px;
} */
  .me{
      font-size: 2em;
      text-align:center;
      padding-left:250px;
      padding-top:130px;
      display:flex;
      clear: both;
  }
#about{  
    color:white;
    padding-top:30px;
    text-align:center;
    font-size:3em;
    /* flex-flow: row; */
    clear:both;
    padding: 90px;
    flex:left;
}

.brayo{
    color:black;
    font-size: 25px;
    text-align:center;
    padding:30;
}
.hob{
    
    /* padding:10px; */
    color:black;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* #hob{ */
    /* padding:10px; */
    /* margin-top: 100px; */
}
/* li{
    padding:5px;
} */
.overlay1{
    /* marging-left;70px; */
    position:relative; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.459);
    background: rgb(255, 255, 255);
    color: #f1f1f1; 
    width: 70%;
    height:100%;
    text-align:justify;
    border-radius:0%;
    /* border:20px;
    color:cyan; */
    }
.overlay2{
    /* border:20px;
    color:brown; */
    border-radius:0%;
    position:relative; 
    bottom: 0;
    background-color:brown; 
    /* background: rgba(90, 32, 32, 0.459); */
    /* background: rgb(255, 255, 255); */
    /* color: #f1f1f1; 
    width: 70%;
    height:100%;
    text-align:center; */

}
.info{
    font-size:27px;
    padding:5em;
    color:white;
    float:left;
    margin-top: 170px;
    box-shadow: 6px 9px 5px #973939;
}
.cont{
    display:flex;
    float:left;
    clear: both;
    padding:40px;
}
.ab{
    background-color: rgb(134, 25, 25);
    width:808px;
}
.brayo{
    padding:9px;

}
.brian{
    width:800px;
    color:white;
    background-color:white;
    border:4px;
    border-style: solid;
    border-color: rgb(134, 25, 25);
}
h3{ 
    font-size:40px;
    color:white;
    text-align: center;
    padding:20px;
    margin-top: 100px;
}
#photo{
    /* color:black; */
    display:flex;
    padding-bottom:20px;
    filter:blur(0px);
    /* flex-direction:row; */
    /* float:left; */
    flex-direction: row;
    
}
.pic{
    padding:30px;
    box-shadow: 6px 6px 5px #973939;
}
hr{
    color: rgb(134, 25, 25);
}
.pro{
    color:white;
    font-size:2em;
    text-decoration:none;
    /* text-align: center; */
    margin-left:20px;
   
}
.lang{
    color:white;
    font-size: 17px;
}

h4{
    color: white;
    text-align: center;
    font-size: 3em;
}
h6{
    color:white;
    font-size:1.5em;
    text-align: center;
}
#projects{
    float: inline-start;
    clear:both;
}
#field{
    color:whitesmoke;
    font-size:30px;
    background-color: rgb(134, 25, 25);

}

.fa {
    padding: 20px; 
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius:50%;
    position:relative;
    margin-left:px;
    
}
/* .fa{
    text-align:center;
    font-size:10px;
    text-decoration:none;
    position:relative;
    top:50px;
    margin: 5px 2px;
    border-radius: 50%;
} */

.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa:hover {
    opacity: 0.7;
  }

  .rights{
      /* margin-right:580px; */
       color:white;
       text-align: center;
   }

   #media{
    /* margin-left: 590px; */
    text-align: center;
   }
   #cont{
       color:white;
       text-align:center;
       font-size:30px;
   }